nav {
    background: #CC0000;
}

.navlogo {
    width:25%;
    height:25%;
}

body, html {
    height: 100%;
}

.landing {
    background-color:rgba(255, 255, 255, 0.650);
    color:#CC0000;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
    align-items: center;
    justify-content: center;

}

.textfix {
    top: 15%;
    position: relative;
}
.navtext {
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arrow {
    width:100px;
    height:80px;
}

.home {
    background-color:#CC0000;
}

.heroContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hero-image {
    grid-column: 1;
    grid-row: 1;
}

.heroTextContainer {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 8fr;
    grid-template-rows: 1fr;
}

.customtext {
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.introimg {
    width:37vw;
    height:auto;
}

.customarrow {
    width:100px;
    height:80px;
}

.vertline {
border-left: 6px solid #CC0000;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}