nav {
    background: #CC0000;
}

.navlogo {
    width:25%;
    height:25%;
}

body, html {
    height: 100%;
}

body {
  
}

.landing {
    background-color:rgba(255, 255, 255, 0.500);
    color:#CC0000;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    justify-content: center;

}

.textfix {
    top: 15%;
    position: relative;
}
.navtext {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arrow {
    width:100px;
    height:80px;;
}

.home {
    background-color:#CC0000;
}